 .o_G{color:blue;font-size:30px}
 .o_o{color:red;}
 .o_O{color:yellow;}
 .o_g{color:blue;}
 .o_l{color:green;}
 .o_e{color:red;}
 
 
 .o_M{color:#6495ED;}
 .o_A{color:#DE316;}
 .o_m{color:#FF7F50;}
 .o_U{color:#DFFF00;}
 .o_N{color:#0000FF;}
 
 
 
 
 
  .o_J{color:#FF0000;}
  .o_E{color:#00FF00;}
  .o_R{color:#0000FF;}
  .o_I{color:#FF00FF;}
  .o_NN{color:#00FFFF;}
 